.sl-brandstyle-0db54308-f5c9-4859-8c19-3e0e528e9b42 .sl-font-style--title {
font-family: Gilroy-Black;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-0db54308-f5c9-4859-8c19-3e0e528e9b42 .sl-font-style--body {
font-family: Gilroy-Regular;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-0db54308-f5c9-4859-8c19-3e0e528e9b42 .sl-font-style--button {
font-family: Gilroy-Regular;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-0db54308-f5c9-4859-8c19-3e0e528e9b42 .sl-font-style--label {
font-family: Gilroy-Regular;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #333738;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-font-style--title { color: #333738; }
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-font-style--body { color: #333738; }
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-font-style--button { color: #333738; }
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-font-style--label { color: #333738; }
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-button--brand-style {
color: #333738;
background-color: #ffffff;
}
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-button--button-style { border: 2px solid; }
.sl-pattern-cd975351-1cdf-4e5a-ad78-c1651aa9b205 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #333738;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d .sl-font-style--title { color: #333738; }
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d .sl-font-style--body { color: #333738; }
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d .sl-font-style--button { color: #333738; }
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d .sl-font-style--label { color: #333738; }
.sl-pattern-a40f305a-e27c-450b-8518-4645bc2f839d .sl-button--brand-style {
color: #333738;
background-color: #ffffff;
}
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a {
background-color: #f0f0f0;
border-style: none;
--sl-gv-bg-color: #f0f0f0;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #f0f0f0;
}
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a .sl-font-style--title { color: #ffffff; }
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a .sl-font-style--body { color: #ffffff; }
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a .sl-font-style--button { color: #ffffff; }
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a .sl-font-style--label { color: #ffffff; }
.sl-pattern-3619c093-6a00-4570-be91-bce3e505166a .sl-button--brand-style {
color: #ffffff;
background-color: #f0f0f0;
}
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 {
background-color: #f4f6f8;
border-style: none;
--sl-gv-bg-color: #f4f6f8;
--sl-gv-btn-txt-color: #333738;
--sl-gv-btn-bg-color: #f4f6f8;
}
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 .sl-font-style--title { color: #171717; }
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 .sl-font-style--body { color: #333738; }
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 .sl-font-style--button { color: #333738; }
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 .sl-font-style--label { color: #333738; }
.sl-pattern-ae6e7a76-69fd-4eb4-8031-d7375b446e39 .sl-button--brand-style {
color: #333738;
background-color: #f4f6f8;
}
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee {
background-color: #000000;
border-style: none;
--sl-gv-bg-color: #000000;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ff6b00;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-font-style--title { color: #ffffff; }
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-font-style--body { color: #ffffff; }
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-font-style--button { color: #000000; }
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-font-style--label { color: #ffffff; }
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-button--brand-style {
color: #000000;
background-color: #ff6b00;
}
.sl-pattern-b583321f-3ac9-4dde-9ae9-4f0998a43fee .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-font-style--title { color: #ffffff; }
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-font-style--body { color: #ffffff; }
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-font-style--button { color: #ffffff; }
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-font-style--label { color: #ffffff; }
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-button--brand-style {
color: #ffffff;
background-color: #ffffff;
}
.sl-pattern-41cd0d07-cdba-4b09-9157-193692ecb4c1 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f {
background-color: #f8f8f8;
border-style: none;
--sl-gv-bg-color: #f8f8f8;
--sl-gv-btn-txt-color: #202223;
--sl-gv-btn-bg-color: #f8f8f8;
}
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f .sl-font-style--title { color: #333738; }
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f .sl-font-style--body { color: #202223; }
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f .sl-font-style--button { color: #202223; }
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f .sl-font-style--label { color: #202223; }
.sl-pattern-c4794eb1-589a-4663-9bad-ec7314e7da6f .sl-button--brand-style {
color: #202223;
background-color: #f8f8f8;
}
